body {
        background-color: #BCA88F;
	color: saddlebrown;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 2px;
        margin: 0em;
}


h1 {
	font-size: 72px;
	line-height: 10%;
}

h2 {
	 font-family: 'Poiret One', cursive; 
	font-size: 22px;
	line-height: 50%;
	font-weight: 700;
}

/* nagłówek tytułów opowiadań */
h3 {									
	font-family: 'Fondamento', cursive;
	font-size: 26px;
	font-weight: 700;
	text-align: center;
}

/* akapit opowiadań */
p {						
	text-indent: 10%;
	margin-top: 0;
	margin-bottom: 0;
}

a {
    color: #FAEEE0;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #cc0000;
    outline: none;
}

a:visited {
    color: #F59555;
}

.container {
	background-color: #FAEEE0;
        width: 100%;
        min-width: 770px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.authorImg {
        background-repeat: no-repeat;
        background-position: 10% 0%;
        background-attachment: scroll;
        background-color: #BCA88F;
        background-size: contain;
        z-index: 1; 
        /* max-width: 1920px; */
        max-height: 600px;
        border: none;
        padding: 0px;
}

.logo {
	margin-left: auto;
	margin-right: 10%;
	margin-top: 15%;
	width: 40%;
	min-height: 30px;
	padding: 0px 0px;
	color: #9C886F;
        font-family: 'Fondamento';
	font-size: 4em;
}

.borderImg1 {
    background-image: url("../img/borderimg1.png");
    background-repeat: repeat-x;
    background-position: top center;
    width: 100%;
    height: 110px;
}

.borderImg2 {
    background-image: url("../img/borderimg2.png");
    background-repeat: repeat-x;
    background-position: bottom center;
    background-attachment: scroll;
    width: 100%;
    height: 110px;
    margin-bottom: -1px;
}

.naviPanel {
        width: 40px;
        height: 130px;
        padding: 10px; 
        text-align: center;
        position: fixed;
        background-color: transparent;
        border-radius: 0px;
        right: 4%;
        top: 19%;
        z-index: 5;
}

.area {
        margin-top: 50px;
	width:100%;
        background-color: #FAEEE0;
        border-radius: 10px 10px 0px 0px;
}

.left {
        width: 20%;
        float: left;
        padding: 0px;
        text-align: left;
}

#nproject {
	min-height: 20px;
	width: 235px;
	text-align: center;
	padding: 10px 0px;
	padding-right: 15px;
	margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
	background-color: #BCA88F;
        color: saddlebrown;
        font-weight: 700;
        border: 1px solid #BCA88F;
	border-radius: 20px;
}

#nnews {
	min-height: 20px;
	width: 235px;
	text-align: center;
	padding: 10px 0px;
	padding-right: 15px;
	margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
	margin-bottom: 20px;
	background-color: #BCA88F;
        color: saddlebrown;
        font-weight: 700;
        border: 1px solid #BCA88F;
	border-radius: 20px;
}

#nproject:hover, #nnews:hover {
        background-color: #CCB89F;
        color: #FAEEE0;
        border: 1px solid #BCA88F;
}

.category {
        background-color: #BCA88F;
        width: 100%;
        min-width: 250px;
        border: 0px;
        border-radius: 0px 20px 20px 0px;        
        margin: 2em 0em;
        padding: 10px;
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        font-variant-caps: small-caps;
        text-align: center;
}

.project {
	width: 100%;
	margin-top: 20px;
	padding: 10px 0px;
	background-color: #BCA88F;
	color: #905000;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
        font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
        border: 1px solid;
        border-color: #FAEEE0;
	border-radius: 20px;
}

.chapter>button, .oneshot>button, .fanfic>button, .wiersz>button, .nchapter>button, .nwiersz>button {
	width: 90%;
	margin-left: auto;
        margin-right: auto;
	padding: 10px 20px;
	background-color: transparent;
	color: #312111;
        border-right: 1px solid #FAEEE0;
        border-bottom: 1px solid #FAEEE0;
        border-left: none;
        border-top: none;
        border-radius: 0px;
	outline: none;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
        text-align: left;
	display: block;
	cursor: pointer;
}

 .chapter>button:hover, .oneshot>button:hover, .fanfic>button:hover, .wiersz>button:hover, .nchapter>button:hover, .nwiersz>button:hover  {
	background-color: transparent;
        color: #FAEEE0;
}

 .chapter>button:hover i, .oneshot>button:hover i, .fanfic>button:hover i, .wiersz>button:hover i, .nchapter>button:hover i, .nwiersz>button:hover i {
	color: #FAEEE0;
}

.rightPanel {
        width: 70%;
        min-width: 400px;
	float: right;
        margin-right: 50px;
	padding: 0px 25px;
	text-align: justify;
}

.editTitle {
	width: 90%;
	height: 25px;
        margin-left: auto;
        margin-right: auto;
	text-align: center;	
	padding: 7px;
	border: 1px solid #BCA88F;
	border-radius: 20px;
}

.edit {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.footer {
	margin-left: auto;
	margin-right: auto;
        width: 100%;
        min-height: 20px;
	background-color: #BCA88F;
	padding: 0px;
        padding-bottom: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        letter-spacing: 3px;
        color: #312111;
}

        /***** dodatkowo *****/

.dosrodka {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.ustawienia {
	margin-left: 35px;
	width: 200px;
	height: 20px;
	padding: 0px 20px;
	text-align: center;
}

#info, #ustawienia, #logout {
    background-color: #FAEEE0;
    color: #312111;
    width: 42px;
    height: 42px;   
    font-size: 32px;
    text-align: center;
    align-items: center;
    border: 2px solid #BCA88F;
    border-radius: 50px;
    margin: 10px 0px;
}

#info a:hover {
    color: #989CBF;
}

#ustawienia:hover {
    color: #BF9F5C;
}

#logout a:hover {
    color: #BF8C8C;
}

#info a, #ustawienia a, #logout a {
	color: #312111;
}

#ustawienia > form > button[type="submit"][id="ustawienia"] {
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
    border: none;
    display: block;
}

.info2 {
	clear: both;
        margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-height: 1px;
	display: none;
	background-color: transparent;
	border: 1px solid #DCC8AF;
        border-top: none;
        border-radius: 0px 0px 20px 20px;
	padding: 20px 30px;
        text-align: center;
}

.userData {
 width: 500px;
}

.targets {
    width:180px;
    float: left;
}

.target {
    margin: 7px;
    padding: 10px;
    text-align: right;
}

#avik {
    height: 190px;
}

.userInfo {
    width: 305px;
    text-align: left;
    float: left;
    margin-left: 10px;
}

.userAvatar {
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 1px solid #BCA88F;
    border-radius: 10px;
    margin: 5px;
}

.user {
	width: 271px;
	height: 20px;
	margin-left: 140px;
	padding: 5px 20px;
	text-align: left;
	float: left;
	border-left: 1px dashed #BCA88F;
	border-right: 1px dashed #BCA88F;
}

.empty {
	width: 834px;
	height: 20px;
	padding: 2px;
	margin: 0px;
	font-size: 16px;
	text-align: center;
	float: left;
	border-right: 1px dashed #BCA88F;
}

@media all and (max-width: 960px) {
    .logo {
	margin-left: auto;
	margin-right: 10%;
	margin-top: 15%;
	width: 40%;
	min-height: 30px;
    }
    .navipanel {
        position: fixed;
        right: 5%;
        top: 19%;
}
}

@media all and (max-width: 540px) {
    .logo {
	margin-left: auto;
	margin-right: 10%;
	margin-top: 15%;
	width: 40%;
	min-height: 30px;
    }
    .navipanel {
        position: fixed;
        right: 5%;
        top: 19%;
}
}