
.chapterContainer {
	min-height: 50px;
	width: 95%;
	border: none;
	margin: 20px;
        margin-left: 0px;
	clear: both;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	text-align: justify;
	padding: 0px;
	background-color: #FAEEE0;
	text-indent: 10%;
        line-height: 200%;
	}

.chapterTitle {
	width: 95%;
	margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
	padding: 10px 0px;
	min-height: 20px;
	background-color: #FAEEE0;
	font-family: 'Fondamento', cursive;
	font-size: 24px;
	text-align: center;
	text-indent: 0%;
        border: 1px solid #BCA88F;
        border-radius: 30px;
}

.chapterContent {
	background-color: #FAEEE0;
	width: 90%;
	padding: 0px;
	margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
	text-align: justify;
	font-size: 18px;
}

.chapterPagination {
	width: 500px;
	min-height: 50px;
	text-align: center;
	font-size: 18px;
	padding: 10px;
	margin: 50px 0px;
	margin-left: auto;
	margin-right: auto;	
	text-indent: 0%;
}

.chapterSpace {
	min-width: 400px;
	float: left;
}

.chapterIcon {
	width: 40px;
	height: 40px;
	margin: auto;
	border: 2px solid #BCA88F;
	border-radius: 30px;
	background-color: #FAEEE0;
	color: #312111;
	font-size: 30px;
	float: left;
        outline: none;
        padding: 0px;
}

.chapterIcon:hover, .chapterIcon:active {
        background-color: #FAEEE0;
        color: #BCA88F;
        outline: none;
}

.button {
        outline: none;
}

i.icon-left-open {
    margin-left: -3px;
}

.chapterAuthor {
	width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
	text-align: center;
	font-size: 18px;
	padding: 5px 0px;
	text-indent: 0%;
	border: 1px solid #BCA88F;
	border-radius: 20px;
}

/* ZMIANA ROZDZIELCZOŚCI */

@media all and (max-width: 960px) {
    .chapterContainer {
        letter-spacing: 0px;
    }
    
    .chapterTitle {
	padding: 10px 0px;
	min-height: 20px;
	font-family: 'Fondamento', cursive;
	font-size: 18px;
    }
    .chapterContent {
        margin-top: 20px;
        font-size: 14px;
    }
}

@media all and (max-width: 720px) {
    .chapterTitle {
	padding: 10px 0px;
	min-height: 20px;
	font-family: 'Fondamento', cursive;
	font-size: 18px;
    }
    .chapterContent {
        margin-top: 20px;
	font-size: 14px;
    }
    .chapterPagination {
        width: 400px;
    }
    .chapterSpace {
	min-width: 300px;
    }
}
@media all and (max-width: 540px) {
    .chapterContainer {
        line-height: 150%;
    }
    .chapterTitle {
	padding: 10px 0px;
	min-height: 20px;
	font-family: 'Fondamento', cursive;
	font-size: 18px;
    }
    .chapterContent {
	margin-top: 20px;
	font-size: 14px;
    }
    .chapterPagination {
        width: 300px;
    }
    .chapterSpace {
	min-width: 200px;
    }
    .chapterAuthor {
	font-size: 14px;
    }
}