.story {
	width: 100%;
}

.storyTitle {
	width: 100%;
	margin-top: 20px;
	padding: 10px 0px;
	background-color: #BCA88F;
	color: #905000;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
        font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
        border: none;
	border-radius: 20px 0px 0px 0px;
}

input[type='submit']{
	width: 100%;
	margin-left: auto;
        margin-right: auto;
	padding: 10px 50px;
	background-color: #CDB99F;
	color: saddlebrown;
        border-left: 1px solid #BCA88F;
        border-right: 1px solid #BCA88F;
        border-bottom: 1px solid #BCA88F;
        border-top: none;
	outline: none;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
        text-align: left;
	display: block;
	cursor: pointer;
}

input[type='submit']:hover {
	color: #FAEEE0;
}

.menuOption {
    background-color: #BCA88F;
    color: #905000;
    padding: 5px 3px;
    margin: 10px 10px;
    width: 150px;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}

.menuOption:hover {
    background-color: #CDB99F;
    color: #FAEEE0;
}

.menuOptionDouble {
    display: inline-block;
}

.menuInput {
    background-color: transparent;
    color: #312111;
    padding: 7px 0px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: static;
    z-index: 2;
}

.menuInput:hover {
    background-color: transparent;
    color: #BCA88F;
}

.showHiddenArea {
    width: 150px;
    height: 180px;
    float: right;
    background-color: #FAEEE0;
    padding: 0px;
    font-size: 10px;
    text-align: center;
    display: none;
    border: none;
    position: static;
    border-radius: 20px;
}

input[type="text"], input[type="password"] {
    width: 110px;
    background-color: #FAEEE0;
    color: #BCA88F;
    padding: 5px 10px;
    border: 1px solid #BCA88F;
    border-radius:5px;
    margin-bottom: 5px;
    outline: none;
    letter-spacing: 2px;
}

input[type="password"] {
    letter-spacing:5px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #BCA88F;
    background-color: #DECAAF;
    color: #fff;
}

input[type="submit"]#loginAuthor {
    width: 70px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #BCA88F;
    border: 2px solid #FAEEE0;
    border-radius: 20px;
    font-size: 10px;
    text-align: center;
    position: static;
}

input[type="submit"]#loginAuthor:hover {
    background-color: #C5B49F;
    color: #fff;
}

.category {
    vertical-align: middle;
    padding: 3px 0px;
    margin: 5px;
    font-size: 12px;
    display: inline-table;
    color: #BCA88F;
    letter-spacing: 1px;
    width: auto;    
}

.categoryTitle {
    background-color: transparent;
    height: 10px;
    width: auto;
    font-size: 16px;
    letter-spacing: 2px;
    margin-left: 30px;
    display: block;
}

.categoryTitle input[type='submit'][name='title'] {
    margin-left: 20px;
    padding: 5px 0px;
    float: left;
    font-size: 14px;
    font-weight: 300;
    display: inline;
    width: auto;
    border: none;
    color: #aa6600;
}

.categoryTitle input[type='submit'][name='title']:hover {
    color: #BCA88F;
}

.subtitle {
    font-size: 14px;
    display: block;
}

input[type='submit'][name='subtitle'] {
    width: 350px;
    margin-left: 50px;
    padding: 5px 0px;
    background-color: transparent;
    color: #aa6600;
    border: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
    display: block;
    cursor: pointer;
}

input[type='submit'][name='subtitle']:hover {
    color: #BCA88F;
}

.categoryTitle input[type='submit'][class='categoryOther'] {
    margin-left: 0px;
    padding: 5px 0px;
    float: left;
    font-size: 14px;
    font-weight: 300;
    display: inline;
    width: auto;
    border: none;
    color: #aa6600;
    background-color: transparent;
}

.categoryTitle input[type='submit'][class='categoryOther']:hover {
    color: #BCA88F;
}

/* ZMIANA ROZDZIELCZOŚCI */

@media all and (max-width:1140px) {
    .storyTitle {
        letter-spacing: 1px;
    }
    
    input[type='submit'] {
    letter-spacing: 0px;
    padding: 10px 15px;
    }
}

@media all and (max-width:720px) {
    
    .menuOption {
        padding: 5px;
        margin: 5px;
    }
    
    .category {
        letter-spacing: 0px;
    }
    
    .categoryTitle {
        letter-spacing: 0px;
    }
    
    input[type='submit'] {
        letter-spacing: 0px;
    }
}